<div class="text-center home-callout container-fluid">
<h1>About Kuvery</h1>
  <h3>Ivesto</h3>
    <p>Investpool is a social network for investor. 
    Where everyone can contribute to a project and hold a percentage of gains. 
    The domain will be real estate, Where people get charged closal amount of money
    from the bank and real estate investor and they end up paying huge amount of rent.
    The platform allows these people to contribute with each other to build there own building
    wich allows to benefits from the fact that they are ownerships and save up there rent money</p>
</div>