/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'bootstrap-sprockets';
 @import 'bootstrap';
 @import 'font-awesome-sprockets';
 @import 'font-awesome'; 
 
h1,h2,h3{
    font-family: 'Open Sans', sans-serif
}
.navbar, .home-callout {
    //gradient provided by me @uiGradients.com
//background: #2980B9;  /* fallback for old browsers */
//background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
//background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: #00C9FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #92FE9D, #00C9FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #92FE9D, #00C9FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.navbar{
    border: none;
}

.navbar-brand{
    font-family: 'Open Sans', sans-serif;
    font-weight: 8000;
    
}
//home page styles 
.home-callout{
    margin-top: -20px;
    padding-bottom: 100px;
    padding-top: 50px;
    color:white;
}
// navbar styles
//DRY: dont repeat your self & write less code. 
.navbar-default .navbar-brand, 
.navbar-default .navbar-nav > li > a{
    color: white;
    font-weight:bolder;
    &:hover{
    color: black;
    opacity: 7;}
}
